<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.knime.workbench.repository.nodes">
      <node category-path="/carovex/apisports"
            factory-class="com.apisports.knime.connector.nodes.ApiSportsConnectorNodeFactory"/>
      <node category-path="/carovex/apisports"
            factory-class="com.apisports.knime.connector.nodes.stats.ApiStatisticsNodeFactory"/>
   </extension>
   <extension point="org.knime.workbench.repository.categories">
      <category level-id="carovex" name="Carovex" path="/" icon="icons/carovex.png"/>
      <category level-id="apisports" name="API-Sports" path="/carovex" icon="icons/apisports.png"/>
   </extension>
</plugin>
