<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.knime.workbench.repository.nodes">
      <!-- Universal Node (Prototype) -->
      <node category-path="/carovex/apisports/football"
            factory-class="com.apisports.knime.football.nodes.universal.UniversalNodeFactory"/>
      <!-- Curated Nodes -->
      <node category-path="/carovex/apisports/football"
            factory-class="com.apisports.knime.football.nodes.leagues.FootballLeaguesNodeFactory"/>
      <node category-path="/carovex/apisports/football"
            factory-class="com.apisports.knime.football.nodes.teams.FootballTeamsNodeFactory"/>
      <node category-path="/carovex/apisports/football"
            factory-class="com.apisports.knime.football.nodes.fixtures.FootballFixturesNodeFactory"/>
      <node category-path="/carovex/apisports/football"
            factory-class="com.apisports.knime.football.nodes.standings.FootballStandingsNodeFactory"/>
      <node category-path="/carovex/apisports/football"
            factory-class="com.apisports.knime.football.nodes.stats.FootballStatsNodeFactory"/>
      <node category-path="/carovex/apisports/football"
            factory-class="com.apisports.knime.football.nodes.predictions.FootballPredictionsNodeFactory"/>
   </extension>
   <extension point="org.knime.workbench.repository.categories">
      <category level-id="football" name="Football" path="/carovex/apisports" icon="icons/football.png"/>
   </extension>
</plugin>
